body
  background: ivory

h2
  font-size: 4em
  text-align: center
  margin: 1em auto
  font-variant: small-caps

.compteur
  text-align: center
  font-size: 8em
  font-weight: bold

  span.chiffres
    display: inline-block
    text-align: center
    width: 1.4em

#winner
  display: none